make_config.mk

*.a
*.arc
*.d
*.dylib*
*.gcda
*.gcno
*.o
*.so
*.so.*
*_test
*_bench
*_stress
*.out
*.class
*.jar
*.*jnilib*
*.d-e
*.o-*
*.swp
*.dSYM
*~
*.vcxproj
*.vcxproj.filters
*.sln
*.cmake
.watchmanconfig
CMakeCache.txt
CMakeFiles/
build/

.gdbhistory
.gdb_history
tags
etags
.DS_Store

java/out
java/target
java/test-libs
java/*.log

.idea/
*.iml

t
LOG

tp2/
fbcode/
fbcode
buckifier/*.pyc
